@using LSRPO.Core.Models.User
@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Промяна на парола";
}

<div class="row">
    <div class="col-sm-12 col-lg-5 col-xl-4">
        <div class="card card-primary card-outline">
            <div class="card-body box-profile">
                <form id="change-password-form" method="post">

                    <input type="hidden" name="Id" value="@ViewBag.Id" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <span asp-validation-for="Password" class="text-danger"></span>
                    <div class="input-group mb-3">
                        <input asp-for="Password" class="form-control" aria-required="true" placeholder="Нова парола" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>

                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    <div class="input-group mb-3">
                        <input asp-for="ConfirmPassword" class="form-control" aria-required="true" placeholder="Потвърждаване на парола" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <button type="submit" class="btn btn-block btn-success">Промяна</button>
                        </div>
                        <div class="col-6">
                            <a asp-area="admin" asp-action="EditProfile" asp-controller="User" asp-route-id="@ViewBag.Id" class="btn btn-block btn-warning">Отказ</a>
                        </div>
                    </div>

                </form>

            </div>
        </div>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}