@using LSRPO.Core.Models.User
@model UserEditViewModel

@{
    ViewData["Title"] = "Редактиране на потребител";
}

<div class="row">
    <div class="col-md-4">
        <form id="edit" method="post">
            <input type="hidden" name="Id" value="@Model.Id" />
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <span asp-validation-for="FullName" class="text-danger"></span>
            <div class="input-group mb-3">
                <input asp-for="FullName" class="form-control" aria-required="true" />
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-user-tie"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <button id="edit-submit" type="submit" class="btn btn-block btn-success">Редактиране на потребителя</button>
                </div>
                <div class="col-6">
                    <a asp-area="admin" asp-action="manageusers" asp-controller="user" class="btn btn-block btn-warning">Отказ</a>
                </div>
            </div>

        </form>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}