<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"] - ЛСРПО</title>

    <link rel="stylesheet" href="~/css/googlefonts.css" />
    <link rel="stylesheet" href="~/css/adminlte.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css" />
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css" />
    <link rel="stylesheet" href="~/plugins/toastr/toastr.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <!-- Datatables -->
    <link rel="stylesheet" href="~/plugins/datatables/jquery.dataTables.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/plugins/datatables/fixedHeader.dataTables.min.css" />
    <link rel="stylesheet" href="~/plugins/datatables/datatables-bs4/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="~/plugins/datatables/datatables-buttons/css/buttons.bootstrap4.min.css" />
    <link rel="stylesheet" href="~/plugins/datatables/datatables-responsive/css/responsive.bootstrap4.min.css" />

     <!-- jQuery -->
    <script src="~/js/jquery-3.5.1.js"></script>
    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>

    @await RenderSectionAsync("Head", required: false)
</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        <!-- Navbar -->
        <partial name="_UpMenu" />
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="/" class="brand-link">
                <img src="~/img/npp.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8" />
                <span class="brand-text font-weight-light">АЕЦ Козлодуй</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <partial name="_LoginPartial" />

                <!-- Sidebar Menu -->
                <partial name="_SideMenu" />
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">

            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">@ViewData["Title"]</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="/">Начало</a></li>
                                <li class="breadcrumb-item active">@ViewData["Title"]</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <div class="content">
                <div class="container-fluid">
                    @RenderBody()
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="float-right d-none d-sm-inline">
                Локална система за ранно предупреждение и оповестяване
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; 2022-@DateTime.Now.Year <a href="/">ЛСРПО</a>.</strong> All rights reserved.
        </footer>
    </div>
    <!-- ./wrapper -->

    <!-- REQUIRED SCRIPTS -->
    <script src="~/js/adminlte.min.js"></script>
    <script src="~/plugins/toastr/toastr.min.js"></script>
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>

    <!-- DataTables Buttons -->
    <script src="~/plugins/datatables/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/plugins/datatables/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/plugins/datatables/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/plugins/datatables/jszip/jszip.min.js"></script>
    <script src="~/plugins/datatables/pdfmake/pdfmake.min.js"></script>
    <script src="~/plugins/datatables/pdfmake/vfs_fonts.js"></script>
    <script src="~/plugins/datatables/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/plugins/datatables/datatables-responsive/js/responsive.bootstrap4.min.js"></script>

    <partial name="_UserMessages" />
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>