@using LSRPO.Core.Constants

@*@using Microsoft.AspNetCore.Identity
@inject SignInManager<AUTH_USER> SignInManager
@inject UserManager<AUTH_USER> UserManager*@
@*@{
    var user = await UserManager.GetUserAsync(User);
 }*@

@if (User.Identity?.IsAuthenticated ?? false)
{
    <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="~/img/@User.FindFirst(ClaimConstant.ImageUrl)?.Value" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a asp-area="" asp-action="UserProfile" asp-controller="User" class="d-block">@User.FindFirst(ClaimConstant.FullName)?.Value</a> @*@UserManager.GetUserAsync(User).Result.USR_FULLNAME*@
        </div>
      </div>
}