@using LSRPO.Core.Constants

<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

        @*<li class="nav-item">
            <a href="#" class="nav-link">
            <i class="fas fa-user-edit"></i>
            <p>
            Профил
            <i class="fas fa-angle-left right"></i>
            </p>
            </a>
            <ul class="nav nav-treeview" style="display: none;">
            <li class="nav-item">
            <a href="/" class="nav-link">
            <i class="nav-icon fas fa-edit"></i>
            <p>Редактиране</p>
            </a>
            </li>
            <li class="nav-item">
            <a href="/" class="nav-link">
            <i class="nav-icon fas fa-edit"></i>
            <p>Парола</p>
            </a>
            </li>
            </ul>
            </li>*@

        <li class="nav-item">
            <a href="/" class="nav-link">
                <i class="fas fa-home"></i>
                <p>
                    Начало
                </p>
            </a>
        </li>

        @if ((User.Identity?.IsAuthenticated ?? false) && (User.IsInRole(UserConstant.Roles.Administrator)))
        {
            <li class="nav-item">
                <a asp-area="" asp-action="NotifyGroupList" asp-controller="NotifyGroup" class="nav-link">
                    <i class="fas fa-layer-group"></i>
                    <p>
                        Групи за оповестяване
                    </p>
                </a>
            </li>

            <li class="nav-item">
                <a asp-area="" asp-action="EditGroupObjects" asp-controller="NotifyGroup" asp-route-id="30" class="nav-link">
                    <i class="fas fa-layer-group"></i>
                    <p>
                        Група 30
                    </p>
                </a>
            </li>
        }

        else
        {
            <li class="nav-item">
                <a asp-area="" asp-action="NotifyObjectList" asp-controller="NotifyObject" class="nav-link">
                    <i class="fas fa-users"></i>
                    <p>
                        Обекти за оповестяване
                    </p>
                </a>
            </li>

            <li class="nav-item">
                <a asp-area="" asp-action="EditGroupObjects" asp-controller="NotifyGroup" asp-route-id="20" class="nav-link">
                    <i class="fas fa-layer-group"></i>
                    <p>
                        Група 20
                    </p>
                </a>
            </li>

            <li class="nav-item">
                <a asp-area="" asp-action="EditGroupObjects" asp-controller="NotifyGroup" asp-route-id="21" class="nav-link">
                    <i class="fas fa-layer-group"></i>
                    <p>
                        Група 21
                    </p>
                </a>
            </li>

            <li class="nav-item">
                <a asp-area="" asp-action="EditGroupObjects" asp-controller="NotifyGroup" asp-route-id="22" class="nav-link">
                    <i class="fas fa-layer-group"></i>
                    <p>
                        Група 22
                    </p>
                </a>
            </li>

            <li class="nav-item">
                <a asp-area="" asp-action="EditGroupObjects" asp-controller="NotifyGroup" asp-route-id="23" class="nav-link">
                    <i class="fas fa-layer-group"></i>
                    <p>
                        Група 23
                    </p>
                </a>
            </li>

            <li class="nav-item">
                <a asp-area="" asp-action="EditGroupObjects" asp-controller="NotifyGroup" asp-route-id="24" class="nav-link">
                    <i class="fas fa-layer-group"></i>
                    <p>
                        Група 24
                    </p>
                </a>
            </li>

            <li class="nav-item">
                <a asp-area="" asp-action="EditGroupObjects" asp-controller="NotifyGroup" asp-route-id="25" class="nav-link">
                    <i class="fas fa-layer-group"></i>
                    <p>
                        Група 25
                    </p>
                </a>
            </li>

            <li class="nav-item">
                <a asp-area="" asp-action="EditGroupObjects" asp-controller="NotifyGroup" asp-route-id="26" class="nav-link">
                    <i class="fas fa-layer-group"></i>
                    <p>
                        Група 26
                    </p>
                </a>
            </li>

            <li class="nav-item">
                <a asp-area="" asp-action="EditGroupObjects" asp-controller="NotifyGroup" asp-route-id="27" class="nav-link">
                    <i class="fas fa-layer-group"></i>
                    <p>
                        Група 27
                    </p>
                </a>
            </li>

            <li class="nav-item">
                <a asp-area="" asp-action="EditGroupObjects" asp-controller="NotifyGroup" asp-route-id="28" class="nav-link">
                    <i class="fas fa-layer-group"></i>
                    <p>
                        Група 28
                    </p>
                </a>
            </li>

            <li class="nav-item">
                <a asp-area="" asp-action="EditGroupObjects" asp-controller="NotifyGroup" asp-route-id="29" class="nav-link">
                    <i class="fas fa-layer-group"></i>
                    <p>
                        Група 29
                    </p>
                </a>
            </li>
        }

        <li class="nav-item">
            <a asp-area="" asp-action="ProcessList" asp-controller="NotifyProcess" class="nav-link">
                <i class="fas fa-desktop"></i>
                <p>
                    Мониторинг на ОП
                </p>
            </a>
        </li>

    </ul>
</nav>