@using LSRPO.Core.Models.NotifyProcess
@model IEnumerable<ProcessTypeListViewModel>

@{
    ViewData["Title"] = "Тип процес на оповестяване";
}

<section class="content">
    <div class="row">
        <div class="col-6">

            <div class="card">
                <div class="card-header">
                    <a asp-area="" asp-action="AddNewProcessType" asp-controller="NotifyProcess" class="btn btn-primary">Добавяне на нов тип процес</a>
                    <div class="float-right ml-3" id="buttons"></div>
                </div>
                <!-- /.card-header -->

                <div class="card-body">
                    <table id="datatable" class="display" style="width:100%">

                        <thead>
                            <tr>
                                <th style="width:5%">ID</th>
                                <th>Описание</th>
                                <th style="width:10%">Действие</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var processType in Model)
                            {
                                <tr>
                                    <td>@processType.Id</td>
                                    <td>@processType.Description</td>
                                    <td>
                                        <div class="btn-group">
                                            <a asp-area="" asp-action="EditProcessType" asp-controller="NotifyProcess" asp-route-id="@processType.Id" class="btn btn-block btn-warning btn-sm">Редактиране</a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>

                        <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>Описание</th>
                                <th>Действие</th>
                            </tr>
                        </tfoot>

                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->

<!-- Page specific script -->
<script>
    $(document).ready(function() {
        $('#datatable').DataTable({
            "pageLength": 100,
            "lengthMenu": [[10, 25, 50, 100, 250, 500, -1], [10, 25, 50, 100, 250, 500, "All"]],
            "buttons": ["copy", "csv", "excel", "pdf", "print"]
        }).buttons().container().appendTo('#buttons');
    } );
</script>