@using LSRPO.Core.Models.NotifyProcess
@model IEnumerable<ProcessTypeListViewModel>

@{
    ViewData["Title"] = "Тип процес на оповестяване";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">

                <div class="card">

                    <div class="card-header">
                        <a asp-area="" asp-action="AddNewProcessType" asp-controller="NotifyProcess" class="btn btn-primary">Добавяне на нов тип процес</a>
                    </div>
                    <!-- /.card-header -->

                    <div class="card-body">
                        @*<table id="example1" class="table table-bordered table-striped">*@
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th style="width: 30px">ID</th>
                                    <th>Описание</th>
                                    <th style="width: 100px">Действие</th>
                                    @*<th style="width: 205px">Действие</th>*@
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var processType in Model)
                                {
                                    <tr>

                                        <td>@processType.Id</td>
                                        <td>@processType.Description</td>
                                        <td>
                                            <div class="btn-group">
                                                <a asp-area="" asp-action="EditProcessType" asp-controller="NotifyProcess" asp-route-id="@processType.Id" class="btn btn-block btn-warning">Редактиране</a>
                                            </div>
                                        </td>

                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>ID</th>
                                    <th>Описание</th>
                                    <th>Действие</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>

<!-- /.content -->
<!-- DataTables  & Plugins -->
<script src="~/plugins/datatables/datatables/jquery.dataTables.min.js"></script>
<script src="~/plugins/datatables/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="~/plugins/datatables/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/plugins/datatables/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="~/plugins/datatables/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/plugins/datatables/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="~/plugins/datatables/jszip/jszip.min.js"></script>
<script src="~/plugins/datatables/pdfmake/pdfmake.min.js"></script>
<script src="~/plugins/datatables/pdfmake/vfs_fonts.js"></script>
<script src="~/plugins/datatables/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="~/plugins/datatables/datatables-buttons/js/buttons.print.min.js"></script>
<script src="~/plugins/datatables/datatables-buttons/js/buttons.colVis.min.js"></script>

<!-- Page specific script -->
<script>
    $(function () {
      $("#example1").DataTable({
        "responsive": true, "lengthChange": true, "autoWidth": false,
        "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
      }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
      $('#example2').DataTable({
        "paging": true,
        "lengthChange": true,
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "responsive": true,
      });
    });
</script>