@{
    ViewData["Title"] = "Съобщения";
}

<div class="row">
    <div class="col-sm-12 col-lg-6 col-xl-5">

        <input type="hidden" value="@User.Identity.Name" id="userInput" />

        <div class="form-group">
            <textarea class="form-control" type="text" rows="3" id="messageInput" placeholder="Съобщение ..."></textarea>
        </div>

        <div class="form-group">
            <input type="button" class="btn btn-block btn-info" id="sendButton" value="Изпрати съобщение" />
        </div>

    </div>
</div>

<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-lg-6 col-xl-5">
        <ul id="messagesList"></ul>
    </div>
</div>

<!-- Page specific script -->
@section Scripts {
<script src="~/js/signalr/signalr.min.js"></script>
<script src="~/js/signalr/chat.js"></script>
}