@page
@model LoginModel

@{
    ViewData["Title"] = "Вписване";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>@ViewData["Title"]</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="~/css/googlefonts.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
  <!-- icheck bootstrap -->
  <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="~/css/adminlte.min.css">
</head>
<body class="hold-transition login-page">
<div class="login-box">
  <!-- /.login-logo -->
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
      <a href="/" class="h1">ЛСРПО</a>
    </div>
    <div class="card-body">
      <p class="login-box-msg">Вписване в приложението</p>

      <form id="account" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <span asp-validation-for="Input.UserName" class="text-danger"></span>
        <div class="input-group mb-3">
          <input asp-for="Input.UserName" class="form-control" autocomplete="username" aria-required="true" placeholder="Потребителско име" />
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        
        <span asp-validation-for="Input.Password" class="text-danger"></span>
        <div class="input-group mb-3">
          <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Парола" />
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-8">
            <div class="icheck-primary">
              <input class="form-check-input" asp-for="Input.RememberMe" />
              <label asp-for="Input.RememberMe" class="form-label">
                 @Html.DisplayNameFor(m => m.Input.RememberMe)
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-4">
            <button id="login-submit" type="submit" class="btn btn-primary btn-block">Вписване</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>
<!-- /.login-box -->

<!-- jQuery -->
<script src="~/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="~/js/adminlte.min.js"></script>
<partial name="_ValidationScriptsPartial" />
</body>
</html>