@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Промяна на парола";
}

@*<partial name="_StatusMessage" for="StatusMessage" />*@

<div class="row">
    <div class="col-sm-12 col-lg-5 col-xl-4">
        <div class="card card-primary card-outline">
            <div class="card-body box-profile">

                <form id="change-password-form" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                    <div class="input-group mb-3">
                        <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Текуща парола" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>

                    <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                    <div class="input-group mb-3">
                        <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Нова парола" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>

                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    <div class="input-group mb-3">
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Потвърждаване на парола" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <button type="submit" class="btn btn-block btn-success">Промяна</button>
                        </div>
                        <div class="col-6">
                            <a asp-area="" asp-action="UserProfile" asp-controller="user" class="btn btn-block btn-warning">Отказ</a>
                        </div>
                    </div>

                </form>

            </div>
        </div>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}