@using LSRPO.Core.Models.User
@model UserProfileViewModel

@{
    ViewData["Title"] = "Редактиране на профил";
}

<div class="row">
    <div class="col-4">
        <div class="card card-primary card-outline">
            <div class="card-body box-profile">
                <div class="text-center">
                    <img class="rounded-circle" src="~/img/user.png" data-holder-rendered="true" style="height:200px;">
                </div>
                <h3 class="profile-username text-center">@Model.FullName</h3>
                <p class="text-muted text-center">
                    @foreach (var item in ViewBag.Roles)
                    {
                        @item
                    }
                </p>
                <a href="#" class="btn btn-primary btn-block"><b>Промяна на парола</b></a>
            </div>
        </div>
    </div>


    @*<div class="row">
        <div class="col-md-6">
        <form id="change-password-form" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-floating">
        <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" />
        <label asp-for="Input.OldPassword" class="form-label"></label>
        <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
        </div>
        <div class="form-floating">
        <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" />
        <label asp-for="Input.NewPassword" class="form-label"></label>
        <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
        </div>
        <div class="form-floating">
        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
        <label asp-for="Input.ConfirmPassword" class="form-label"></label>
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
        <button type="submit" class="w-100 btn btn-lg btn-primary">Update password</button>
        </form>
        </div>
        </div>*@


    <div class="col-8">
        <div class="card card-primary card-outline">
            <div class="card-body box-profile">

                <form id="change-user-profile" method="post">

                    <div class="card-body" style="display: block;">

                        <input type="hidden" name="Id" value="@Model.Id" />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group">
                            <label asp-for="UserName" class="form-label"></label>
                            <input asp-for="UserName" class="form-control" disabled />
                        </div>
                        <div class="form-group">
                            <label asp-for="FullName" class="form-label"></label>
                            <input asp-for="FullName" class="form-control" aria-required="true" />
                            <span asp-validation-for="FullName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Image" class="form-label"></label>
                            <input asp-for="Image" class="form-control" />
                            <span asp-validation-for="Image" class="text-danger"></span>
                        </div>


                        @*<div class="form-group">
                            <label asp-for="OldPassword" class="form-label"></label>
                            <input asp-for="OldPassword" class="form-control" aria-required="true" />
                            <span asp-validation-for="OldPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                            <label asp-for="NewPassword" class="form-label"></label>
                            <input asp-for="NewPassword" class="form-control" aria-required="true" />
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                            <label asp-for="ConfirmPassword" class="form-label"></label>
                            <input asp-for="ConfirmPassword" class="form-control" aria-required="true" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>*@

                    </div>

                    <div class="row">
                        <div class="col-6">
                            <button id="edit-submit" type="submit" class="btn btn-block btn-success">Редактиране</button>
                        </div>
                        <div class="col-6">
                            <a asp-area="" asp-action="index" asp-controller="home" class="btn btn-block btn-warning">Отказ</a>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>