@using LSRPO.Core.Models.User
@model UserProfileViewModel

@{
    ViewData["Title"] = "Редактиране на профил";
}

<div class="row">
    <div class="col-4">
        <div class="card card-primary card-outline">
            <div class="card-body box-profile">
                <div class="text-center">
                    <img class="rounded-circle" src="~/img/@Model.Image" data-holder-rendered="true" style="height:220px;">
                </div>
                <h3 class="profile-username text-center">@Model.FullName</h3>
                <p class="text-muted text-center">
                    @ViewBag.Role
                </p>
                <a href="/Identity/Account/Manage/ChangePassword" class="btn btn-primary btn-block"><b>Промяна на парола</b></a>
            </div>
        </div>
    </div>

    <div class="col-8">
        <div class="card card-primary card-outline">
            <div class="card-body box-profile">

                <form id="change-user-profile" method="post" enctype="multipart/form-data" asp-controller="user" asp-action="UserProfile">

                    <div class="card-body" style="display: block;">

                        <input type="hidden" name="Id" value="@Model.Id" />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group">
                            <label asp-for="UserName" class="form-label"></label>
                            <input asp-for="UserName" class="form-control" disabled />
                        </div>
                        <div class="form-group">
                            <label asp-for="FullName" class="form-label"></label>
                            <input asp-for="FullName" class="form-control" aria-required="true" />
                            <span asp-validation-for="FullName" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label class="form-label">Снимка</label>
                            <div class="custom-file">
                                <input type="file" name="image" class="custom-file-input" id="image">
                                <label class="custom-file-label" for="image">Избор на файл</label>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-6">
                            <button id="edit-submit" type="submit" class="btn btn-block btn-success">Редактиране</button>
                        </div>
                        <div class="col-6">
                            <a asp-area="" asp-action="index" asp-controller="home" class="btn btn-block btn-warning">Отказ</a>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>

@section Scripts {
<script>
    $(function () {
      bsCustomFileInput.init();
    });
</script>
<partial name="_ValidationScriptsPartial" />
}